@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

:root {
  --bg-gray: #ddd;
  --color-primary: #4d41c0;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4 {
    margin: 0;
}

body {
  background-color: var(--bg-gray);
}

header {
  background-color: var(--color-primary);
  color: var(--white);
  height: 60px;
  display: flex;
  align-items: center;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}

nav h1 {
  font-size: 24px;
  font-weight: 700;
}

nav a {
  font-size: 12px;
  font-weight: 400;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.dsmovie-contact-container {
  display: flex;
  align-items: center;
}

.dsmovie-contact-container img {
  margin-right: 10px;
}
