@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #e8e8e8;
}

header {
    background-color: #4d41c0;
    color: #fff;
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}


